.navbar {
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Router {
  padding: 50px;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.card {
  padding: 10px;
  border: 2px solid #202020;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}